.container {
  display: flex;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease-in-out;
  overflow-x: hidden
}

.content[data-open="true"] {
  margin-left: 240px;
}

.main {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}